<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RX movies</title>
    <link rel="stylesheet" href="/css/base.css">


</head>
<body>

<h2 class="welcome">Welcome to Rx Movies</h2>
<input type="text" class="autocomplete" placeholder="Start your search here..."/>

<section id="stats"></section>
<section id="moviesContainer"></section>

<!--<script type="application/javascript" src="//localhost:8080/bundle.js"></script>-->
<script type="application/javascript" src="/js/dist/bundle.js"></script>

</body>
</html>